 Healthcare RAG Assistant/RAG Chat Model copy.json
{
  "name": "RAG Chat Model copy",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        224
      ],
      "id": "3fe5951c-071a-4e0b-a06f-26132471296a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zJMsfdFaxyYXVWlM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "You are a healthcare RAG assistant.\nAnswer the user's question based on the uploaded documents.\nUse the user's message to decide what to answer.\nIf the question is not found in the documents, say you don’t have that information.\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        144,
        208
      ],
      "id": "89baf50a-708c-4f62-98aa-87489e15e6f9",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "health_pdf_docs",
          "mode": "list",
          "cachedResultName": "health_pdf_docs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -16,
        432
      ],
      "id": "74ec1784-a0cd-4d43-acd0-b61ec779812d",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "jAivZ9eCEnDF3mD2",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        448
      ],
      "id": "342cb008-7ff2-4d6b-a7a9-d6a683a523c5",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "zJMsfdFaxyYXVWlM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        608
      ],
      "id": "90907d2e-6015-4f82-885b-94a88ba5c77f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "zJMsfdFaxyYXVWlM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        752,
        160
      ],
      "id": "2782390e-5e06-4943-8138-5122a9101e91",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.message}}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        -64
      ],
      "id": "0a154579-8e79-4621-81b0-222475144319",
      "name": "Nike Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-chat-v2",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        -48
      ],
      "id": "222bbc2d-bb68-496e-b336-60a8d843add1",
      "name": "Webhook",
      "webhookId": "6a115e0c-15d1-4da8-b6a4-e25804205c54"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Nike Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "Nike Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Nike Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Nike Agent": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Nike Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "322b8431-240f-4d4c-935b-8f0fbb19d30c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "809f9f4c7356d67fc70a1d65169b097817b69a24b555670eaec111e699d8b28b"
  },
  "id": "1y8X2XzUc1zudFZc",
  "tags": []
}